In [1]:
import pandas as pd

import dataset:

In [3]:
data = pd.read_csv('Data/25day_dataset.csv')

Si etichetta il dataset con 7 classi:

	1) Tutti spenti [0]
	2) Solo forno accesso [1]
	3) Solo lavatrice accesa [2]
	4) Solo lavastoviglie accesa [3]
	5) Solo forno spento [4]
	6) Solo lavatrice spenta [5]
    7) Solo lavastoviglie spenta [6]

In [4]:
label = []
#scandire il dataset, creare una lista con i valori che identificano una delle 7 classi di sopra.

for i in range(len(data)):
    #print(data_h['wahing_machine'].iloc[i])
    if data['wahing_machine'].iloc[i]==0 and data['dishwasher'].iloc[i]==0 and data['oven'].iloc[i]==0:
        label.append('0')
    elif data['wahing_machine'].iloc[i]==0 and data['dishwasher'].iloc[i]==0 and data['oven'].iloc[i]!=0:
        label.append('1')
    elif data['wahing_machine'].iloc[i]!=0 and data['dishwasher'].iloc[i]==0 and data['oven'].iloc[i]==0:
        label.append('2')
    elif data['wahing_machine'].iloc[i]==0 and data['dishwasher'].iloc[i]!=0 and data['oven'].iloc[i]==0:
        label.append('3')
    elif data['wahing_machine'].iloc[i]!=0 and data['dishwasher'].iloc[i]!=0 and data['oven'].iloc[i]==0:
        label.append('4')
    elif data['wahing_machine'].iloc[i]==0 and data['dishwasher'].iloc[i]!=0 and data['oven'].iloc[i]!=0:
        label.append('5')
    elif data['wahing_machine'].iloc[i]!=0 and data['dishwasher'].iloc[i]==0 and data['oven'].iloc[i]!=0:
        label.append('6')

#inserisco nel dateset l'etichette appena stabilite.
data['label'] = label

In [5]:
#prove del corretto 'eticchettamento'
data.loc[data['label']=='1']

,DateTime,ActivePower,ReactivePower,Voltage,Current,harmonic1_Real,harmonic1_Imaginary,harmonic3_Real,harmonic3_Imaginary,harmonic5_Real,harmonic5_Imaginary,harmonic7_Real,harmonic7_Imaginary,wahing_machine,dishwasher,oven,label
45941,2022-01-01 12:45:41,0.039965,0.081867,0.000165,0.000554,-0.000294,-0.000531,0.000022,-0.000044,-0.000008,-0.000025,-2.803726e-06,-9.813041e-06,0.0,0.0,0.279719,1
45942,2022-01-01 12:45:42,0.367107,0.107378,0.000164,0.004789,-0.000374,-0.005244,0.000029,-0.000041,0.000000,-0.000020,-8.411178e-06,-9.813041e-06,0.0,0.0,0.324110,1
45943,2022-01-01 12:45:43,0.366273,0.108559,0.000164,0.004778,-0.000377,-0.005235,0.000029,-0.000043,0.000000,-0.000021,-5.607452e-06,-1.401863e-05,0.0,0.0,0.323573,1
45944,2022-01-01 12:45:44,0.366158,0.103658,0.000164,0.004775,-0.000361,-0.005235,0.000028,-0.000044,0.000000,-0.000021,-7.009315e-07,-9.813041e-06,0.0,0.0,0.323571,1
45945,2022-01-01 12:45:45,0.365876,0.106904,0.000164,0.004773,-0.000364,-0.005230,0.000027,-0.000044,0.000000,-0.000020,-2.803726e-06,-6.308383e-06,0.0,0.0,0.323317,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970203,2022-01-23 19:16:43,0.366498,0.049654,0.000163,0.004792,-0.000085,-0.005261,0.000071,-0.000096,0.000018,-0.000019,-4.205589e-06,-4.205589e-06,0.0,0.0,0.305114,1
1970204,2022-01-23 19:16:44,0.366712,0.051488,0.000163,0.004794,-0.000096,-0.005264,0.000070,-0.000097,0.000018,-0.000020,2.102794e-06,-4.205589e-06,0.0,0.0,0.305269,1
1970205,2022-01-23 19:16:45,0.366712,0.051494,0.000163,0.004794,-0.000090,-0.005265,0.000070,-0.000096,0.000018,-0.000019,0.000000e+00,7.009315e-07,0.0,0.0,0.305267,1
1970206,2022-01-23 19:16:46,0.365961,0.052139,0.000163,0.004785,-0.000084,-0.005253,0.000069,-0.000097,0.000017,-0.000019,-4.205589e-06,-2.803726e-06,0.0,0.0,0.304279,1
1970207,2022-01-23 19:16:47,0.365854,0.051472,0.000163,0.004783,-0.000092,-0.005252,0.000069,-0.000097,0.000017,-0.000020,0.000000e+00,-5.607452e-06,0.0,0.0,0.304549,1

di seguito le istruzioni fronite per effettuare il corretto folding:

Test set fold 01: 
Tutte le misure del giorno 2022-01-01


Test set fold 02: 
Tutte le misure del giorno 2022-01-02

Test set fold 03: 
Tutte le misure del giorno 2022-01-03

…..


Test set fold 09: 
Tutte le misure del giorno 2022-01-10
Tutte le misure del giorno 2022-01-11

Test set fold 10: 
Tutte le misure del giorno 2022-01-12
Tutte le misure del giorno 2022-01-13 (dati disponibili fino alle 03:16)

In [ ]:
'''l'idea è quella di convertire la colonna 'DataTime' da object a datatime per permettere una selezione sui giorni'''
test_set_fold1 = data[(data['DateTime'])== '2022-01-01']
test_set_fold1

Empty DataFrame
Columns: [DateTime, ActivePower, ReactivePower, Voltage, Current, harmonic1_Real, harmonic1_Imaginary, harmonic3_Real, harmonic3_Imaginary, harmonic5_Real, harmonic5_Imaginary, harmonic7_Real, harmonic7_Imaginary, wahing_machine, dishwasher, oven, label]
Index: []